
  <script>
  !function(){var s="acs_spark_sess";if(!(window.sessionStorage&&window.sessionStorage.getItem(s))){var e=crypto&&"function"==typeof crypto.randomUUID?crypto.randomUUID():new Date().getTime().toString(36);window.sessionStorage.setItem(s,e);var o="https://app.accessibilityspark.com/sessions?shop="+(window.Shopify&&window.Shopify.shop||window.location.hostname);"function"==typeof navigator.sendBeacon?navigator.sendBeacon(o,""):fetch(o,{method:"POST",keepalive:!0})}}();
  
    (function(){
        var s = document.createElement('script'),
        e = ! document.body ? document.querySelector('head') : document.body;
        s.src = 'https://acsbapp.com/apps/app/dist/js/app.js';
        s.async = true;
        s.onload = function(){
          if (typeof window['acsbJS'] !== 'undefined' && typeof window['acsbJS'].init === 'function') {
            window['acsbJS'].init({"statementLink":"","footerHtml":"<a href=\"https://accessibilityspark.com/?ref=widget\" target=\"_blank\">Powered by AccessibilitySpark</a>","hideMobile":true,"hideTrigger":false,"language":"eu","position":"right","leadColor":"#ff94f1","triggerColor":"#ff94f1","triggerRadius":"50%","triggerPositionX":"right","triggerPositionY":"bottom","triggerIcon":"people","triggerSize":"small","triggerOffsetX":20,"triggerOffsetY":20,"mobile":{"triggerSize":"small","triggerPositionX":"right","triggerPositionY":"center","triggerOffsetX":10,"triggerOffsetY":0,"triggerRadius":"50%"}});
          }          
        };
        e.appendChild(s);
    }());
  
  </script>
    