<style>.lds-ellipsis{display:inline-block;position:relative;width:103px;height:13px;top:-23px;right:-23px}.lds-ellipsis div{position:absolute;top:27px;width:11px;height:11px;border-radius:50%;background:#fff;animation-timing-function:cubic-bezier(0,1,1,0)}.lds-ellipsis div:nth-child(1){left:6px;animation:lds-ellipsis1 .6s infinite}.lds-ellipsis div:nth-child(2){left:6px;animation:lds-ellipsis2 .6s infinite}.lds-ellipsis div:nth-child(3){left:26px;animation:lds-ellipsis2 .6s infinite}.lds-ellipsis div:nth-child(4){left:45px;animation:lds-ellipsis3 .6s infinite}@keyframes lds-ellipsis1{0%{transform:scale(0)}100%{transform:scale(1)}}@keyframes lds-ellipsis3{0%{transform:scale(1)}100%{transform:scale(0)}}@keyframes lds-ellipsis2{0%{transform:translate(0,0)}100%{transform:translate(19px,0)}}
.cr-calendar-icon{position: absolute;top: 2px;right: 11px;cursor: pointer;}  .cr-calendar-icon svg{width: 20px;fill: #c1c1c1;}
</style>
<div id="pickup-container" style="display: none;flex-direction: column;align-items: flex-end; margin-bottom: 1rem;margin-top: 1rem;">
    <div id="pickup-header"></div>
    <div class="js-toggle-pickup pickup-button btn btn--small-wide">
        <span style="position: relative"></span>
    </div>
    <!-- Name of person picking up etc -->
    <div id="pickup-details" style="display:none;">
        <div class="js-stores-position-1"></div>


            <label id="pickup-name-label"for="pickup-name">Name of person collecting</label>
            <!--<input style="margin-bottom: 0px;" type="text" id="pickup-name" name="pickup-name" placeholder="Your name">-->

            <input style="margin-bottom: 0;" type="hidden" id="pickup-name" name="pickup-name" placeholder="Your name">
            <div style="display: flex;">
                <div style="margin-right: 10px;">
                    <input style="margin-bottom: 0px;" type="text" id="pickup-first-name" name="pickup-first-name" placeholder="First name">
                </div>
                <div>
                    <input style="margin-bottom: 0px;" type="text" id="pickup-last-name" name="pickup-last-name" placeholder="Last name">
                </div>
            </div>

            <label id="pickup-number-label" for="pickup-number">Contact Number</label>
            <input type="text" id="pickup-number" name="pickup-number" placeholder="(123)-456-7890">





        <div class="js-stores-position-2"></div>

        <div class="js-storepickup-message"></div>
        <input type="hidden" id="pickup-attribute" name="attributes[pickup]" value="0">
        <input type="hidden" id="pickup-information" name="attributes[Pickup_Information]" value="">
        <input type="hidden" id="pickup-selected-store" name="attributes[Pickup_Store]" value="">

        <input type="hidden" id="pickup-selected-store-id" name="attributes[Pickup_StoreID]" value="">
        <input type="hidden" id="pickup-selected-date" name="attributes[_formattedDate]" value="">
        <input type="hidden" id="pickup-unixtimestamp" name="attributes[_unixTimestamp]" value="">

            <input type="hidden" id="note-pickup-name" name="attributes[Pickup_name]" value="">

            <input type="hidden" id="note-pickup-phone" name="attributes[Pickup_phone]" value="">



    </div>
</div>