{% assign variant = product.selected_or_first_available_variant %}
<!--
  {{ variant.price | money }}
  {{ variant.id }}
-->
<!-- {{ variant | json}} -->

<style>
    .variants-container {
      display: none;
      position: absolute;
      bottom: 61px;
      color: #747474;
      font-weight: 500;
      left: 0;
      width: 100%;
      background-color: white;
      animation: slide-up 0.5s ease forwards;
      padding: 29px 23px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      background: rgb(255 255 255);
  }

  @keyframes slide-up {
      from {
          transform: translateY(100%);
      }
      to {
          transform: translateY(0);
      }
  }
  .patch-customization-offcanvas-form{
    position:relative;
  }
  .patch-customizaton-foter{
    bottom: 0;
    padding: 20px 40px;
    border-top: 1px solid #dddddd;
    width: 100%;
    position: absolute;
    background: #ffffff;
  }
  .patches-customization-form-buttons{
    display: flex;
    width: 100%;
    position: relative;
  }
  .fotter-Summary-button{
    display: flex;
    align-items: center;
    font-weight:600;
    gap: 10px;
    padding: 12px 36px;
    background: #f8f8f8;
    color: black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor:pointer;
    width: 40%;
  }
  .add-item{
    font-weight:600;
    padding: 12px 71px;
    display: flex;
    align-items: center;
    background: #ffe2e8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 60%;
    cursor: pointer;
  }
  .total-price{
    border-top: 1px solid #dddddd;
    margin-top: 20px;
    padding-top: 12px;
    display:flex;
    justify-content:space-between;
  }
  .customization-patch-product-information{
    display:flex;
    justify-content:space-between;
  }
  .loader-cart {
            border: 2px solid #f3f3f3; /* Light grey */
            border-top: 2px solid #ff5477; /* Blue */
            border-radius: 50%;
            width: 25px;
            height: 25px;
            animation: spin 2s linear infinite;
            display:none;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
  .loader-cart-contiune {
            border: 2px solid #f3f3f3; /* Light grey */
            border-top: 2px solid #ff5477; /* Blue */
            border-radius: 50%;
            width: 25px;
            height: 25px;
            animation: spin2 2s linear infinite;
            display:none;
        }

        @keyframes spin2 {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
</style>

<div id="currency-format" data-money-format="{{ shop.money_format }}"></div>

<input type="hidden" name="customized_image_url_front" value="">
<input type="hidden" name="customized_image_url_back" value="">
<input type="hidden" name="customized_price" value="">
<input type="hidden" name="size_variants_data" id="size_variants_data" value="">
<input type="hidden" name="selective_variant_ID" id="selective_variant_ID" value="">
<input type="hidden" name="selective_variant_name" id="selective_variant_name" value="">
<div
  class="overlapping-correction-error"
  style=""
>
  Please correct overlapping error first
</div>
 <div class="overlapping-correction-error" id="Out-of-stock-error"></div>
<div class="patch-customization-btn-wrap">
  <div class="complete-overly-wrapper"></div>
  <div id="variantsContainer" class="variants-container"></div>
  <div class="patches-customization-form-buttons">
    <div class="fotter-Summary-button">
      <span>Summary</span>
      <svg
        width="8"
        height="14"
        viewBox="0 0 8 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="patches-arrow-top toggle-summary-svg toggle-summary-svg-active"
      >
        <path d="M7 13L1 7" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path><path d="M1 7.00002L6.99994 1.00002" stroke="currentColor" stroke-width="2" stroke-linecap="round" ></path>
      </svg>
      <svg
        width="8"
        height="14"
        viewBox="0 0 8 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="patches-arrow-left toggle-summary-svg"
      >
        <path d="M7 13L1 7" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path><path d="M1 7.00002L6.99994 1.00002" stroke="currentColor" stroke-width="2" stroke-linecap="round" ></path>
      </svg>
    </div>
    <div class="add-item">
      <span class="span-content">Add item</span>
      <div class="loader-cart"></div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
