<style>
  .info_button--main {
    display: flex;
    padding: 12px 20px;
    align-items: center;
  }
  .info_button--child {
    width: 33.33%;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr .8fr;
  }
  .info_button--child> img {
    width: 35%;
  }
  .info_button--child> h4 {
    font-size: 8px!important;
    text-transform: uppercase;
    text-align: center;
  }
</style>
<div class="info_button--main">
  <div class="info_button--child">
    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Shipping.png?v=1670318969" alt="">
    <h4>World Wide Shipping</h4>
  </div>
  <div class="info_button--child">
    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/return-guarantee.png?v=1670318970" alt="">
    <h4>15 - Day Refund Guarantee</h4>
  </div>
  <div class="info_button--child">
    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/loyal.png?v=1670318969" alt="">
    <h4>Points With Every Purchase</h4>
  </div>
</div>