<div class="custom-press-logos">
  <div class="press-logo-item">
    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/WGN_9.png?v=1705196140" alt="">
  </div>

  <div class="press-logo-item">
    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/the_garnette_report_cover.jpg?v=1705196140" alt="">
  </div>

  <div class="press-logo-item">
    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/eshaws-logo.png?v=1705196141" alt="">
  </div>

  <div class="press-logo-item">
    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/download.jpg?v=1705196140" alt="">
  </div>

  <div class="press-logo-item">
    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Fts-chicago-c.svg?v=1705196141" alt="">
  </div>

  <div class="press-logo-item">
    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/WLS-TV_logo_svg.png?v=1705196141" alt="">
  </div>

  <div class="press-logo-item">
    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/dailymom_cover.jpg?v=1705196141" alt="">
  </div>

  <div class="press-logo-item">
    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/jwc-media-logo-215x82-1.svg?v=1705196141" alt="">
  </div>

  <div class="press-logo-item">
    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Untitled_design_21.png?v=1705196142" alt="">
  </div>

  <div class="press-logo-item">
    <img
      src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/unnamed_122ff86d-b893-47d3-bd41-daf3c8f72ae4.jpg?v=1705196141"
      alt=""
    >
  </div>

  <div class="press-logo-item">
    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Galore.webp?v=1705196142" alt="">
  </div>

  <div class="press-logo-item">
    <img
      src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/2560px-Drew_Barrymore_Show_logo_svg.png?v=1705196142"
      alt=""
    >
  </div>
</div>
