{% if product.metafields.custom.overallfit %}
  <div class="option_title product-overall-title">Overall Fit</div>
  <div class="product-overall-fit">
    {% assign overall_fit_value = product.metafields.custom.overallfit %}
    <div class="bar">
      <span class="dot {% if overall_fit_value == "Runs Small" %}star{% endif %}" style="left: 0%;">
        {%- if overall_fit_value == 'Runs Small' %}★{% endif -%}
      </span>
      <span class="dot {% if overall_fit_value == "Slightly Small" %}star{% endif %}" style="left: 25%;">
        {%- if overall_fit_value == 'Slightly Small' %}★{% endif -%}
      </span>
      <span class="dot {% if overall_fit_value == "True to Size" %}star{% endif %}" style="left: 50%;">
        {%- if overall_fit_value == 'True to Size' %}★{% endif -%}
      </span>
      <span class="dot {% if overall_fit_value == "Slightly Large" %}star{% endif %}" style="left: 75%;">
        {%- if overall_fit_value == 'Slightly Large' %}★{% endif -%}
      </span>
      <span class="dot {% if overall_fit_value == "Runs Large" %}star{% endif %}" style="left: 100%;">
        {%- if overall_fit_value == 'Runs Large' %}★{% endif -%}
      </span>
      {% if overall_fit_value == blank %}
        <span class="dot star" style="left: 50%;">★</span>
      {% endif %}
    </div>
    <div class="labels">
      <span style="left: 0%;">Runs Small</span>
      <span style="left: 25%;"></span>

      <span style="left: 50%;">True to Size</span>

      <span style="left: 75%;"></span>

      <span style="left: 100%;">Runs Large</span>
    </div>
  </div>
{% endif %}

{% if product.metafields.custom.model_wear %}
  <div class="model-wear-custom-pdp">
    <ul class="model-text">
      <li>{{- product.metafields.custom.model_wear }}</li>
    </ul>
  </div>
{% endif %}
