<ul class="social-link-list-sidebar">
  <li class="facebook-platform">
    <a href="https://www.facebook.com/lolaandtheboys" class="social-link-list">
      {% render 'facebook-icon' %}
      <span class="social-platfrom">Facebook</span>
    </a>
  </li>
  <li class="twitter-platform">
    <a href="https://www.pinterest.com/lolaandtheboys/" class="social-link-list">
      {% render 'pinterest-icon' %}
      <span class="twitter-platform social-platfrom">Twitter</span>
    </a>
  </li>
  <li class="instgaram-platform">
    <a href="https://www.instagram.com/lolaandtheboys/" class="social-link-list">
      {% render 'instagram-icon' %}
      <span class="instgaram-platform social-platfrom">Instagram</span>
    </a>
  </li>
  <li class="youtube-platform">
    <a href="https://www.tiktok.com/@lolaandtheboys" class="social-link-list">
      {% render 'tiktok-icon' %}
      <span class="youtube-platform social-platfrom">Youtube</span>
    </a>
  </li>
</ul>
