{% if product.tags contains 'best-selling-badge' %}
  <div class="collection-specific-tags">
    <div class="product-tag best-selling">
      <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/heart.png?v=1721673293" width="20">
      <span>Best Seller</span>
    </div>
  </div>
{% endif %}

{% if product.tags contains 'just-in-badge' %}
  <div class="collection-specific-tags">
    <div class="product-tag just-in">
      <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Star.png?v=1721673294" width="20">
      <span>Just In</span>
    </div>
  </div>
{% endif %}

{% if product.tags contains 'personalize-badge' %}
  <div class="collection-specific-tags">
    <div class="product-tag personalize-badge">
      <img
        src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Icon_Smile_a7ffdd6e-3641-442f-9904-4582f0c34295.png?v=1742915038"
        width="20"
      >
      <span>Personalize it</span>
    </div>
  </div>
{% endif %}

{% if product.tags contains 'irina-fav-badge' %}
  <div class="irina-fav-tag">
    <div class="product-tag irina-fav">
      <img
        src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/star-tag-img.png?v=1737144658"
        width="20"
        height="auto"
      >
      <span>Irina's Favorite</span>
    </div>
  </div>
{% endif %}

{% if product.tags contains 'Selling-fast-badge' %}
  <div class="collection-specific-tags">
    <div class="product-tag just-in">
      <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/lightning.png?v=1721673293" width="20">
      <span>Selling fast</span>
    </div>
  </div>
{% endif %}

{% if product.tags contains 'holiday-staple-badge' %}
  <div class="collection-specific-tags holiday-staple-badge">
    <div class="product-tag holiday-staple">
      <img
        src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Lola_Gift_Icon_a435f3d8-30c8-43fa-8801-1dccab5f67d4.png?v=1757087441"
        width="20"
      >
      <span>Holiday Staple</span>
    </div>
  </div>
{% endif %}
