<div class="about-form-section">
	<div class="main-container">
		<div class="row">
			<div class="wi-100">
				<div class="about-form-box">
					<div class="about-form-box-inner">
						<h3>{{ section.settings.title }}</h3>
						<p>{{ section.settings.description }}</p>
						<input type="text" name="" placeholder="Enter your email here">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% schema %}
  {
    "name": "About Form Section",
    "settings": [
		{
          "id": "title",
          "type": "text",
          "label": "Title"
        },
		{
          "id": "description",
          "type": "text",
          "label": "Description"
        }
	]
  }
{% endschema %}
