<div class="about-new-section">
    <div class="main-container">
        <div class="row align-items-center">
            <div class="col-md-6 col">
                <div class="about-text">
                    <div class="about-text-inner">
                        <h3>About the Lola</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the is, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col">
                <div class="about-img">
                    <div class="about-img-inner">
                        <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/articles/Fashion_and_Comfort_in_Kid_s_Clothing_1400x.progressive.jpg?v=1641470331" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col">
                <div class="about-text">
                    <div class="about-text-inner">
                        <h3>About the Lola</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the is, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col">
                <div class="about-img">
                    <div class="about-img-inner">
                        <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/articles/Fashion_and_Comfort_in_Kid_s_Clothing_1400x.progressive.jpg?v=1641470331" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
