<div class="custom-img-wrap">
  <div class="container">
    <div class="img-grid-section narrow-container-custom">
      <div class="inner-img first-row">
        <a href="#">
          <img class="fisrt_img"
            src="https://cdn.shopify.com/s/files/1/0917/3729/3086/files/grid_img_1.png?v=1738689825"
            width="auto"
            height="auto"
          >
        </a>
      </div>
      <div class="inner-img second-row">
        <a href="#">
          <img class="second_img"
            src="https://cdn.shopify.com/s/files/1/0917/3729/3086/files/grid_img_2.png?v=1738690539"
            width="auto"
            height="auto"
          >
        </a>
        <a href="#">
          <img class="third_img"
            src="https://cdn.shopify.com/s/files/1/0917/3729/3086/files/grid_img_3.png?v=1738690540"
            width="auto"
            height="auto"
          >
        </a>
      </div>
      <div class="inner-img third-row">
        <a href="#">
          <img class="fourth_img"
            src="https://cdn.shopify.com/s/files/1/0917/3729/3086/files/grid_img_4.png?v=1738689746"
            width="auto"
            height="auto"
          >
        </a>
        <a href="#">
          <img class="fifth_img"
            src="https://cdn.shopify.com/s/files/1/0917/3729/3086/files/grid_img_5.png?v=1738689781"
            width="auto"
            height="auto"
          >
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Image Grid",
    "settings": [],
    "presets": [
      {
        "name": "Custom Image Grid"
      }
  ]
  }
{% endschema %}
