<div class="landing-banner"> 
  <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/IMG_7741_1100x.webp?v=1614099698"/>
</div>
<div class="landing-sec2"> 
  <div class="container">
        <div class="cus-md-1">
      <h2>What is Lorem Ipsum?</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>


  </div>
</div>
<div class="landing-sec1"> 
  <div class="container"> 
    <div class="cus-md-4"> 
      <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/IMG_6812.jpg?v=1614101065"/>
    </div>
    <div class="cus-md-4">
      <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/IMG_6823.jpg?v=1614101065"/>
    </div>
        <div class="cus-md-4"> 
      <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/LATB_0413.jpg?v=1614101052"/>
    </div>

        <div class="cus-md-4">
      <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/IMG_6811.jpg?v=1614099478"/>
    </div>

    <div class="cus-md-4">
      <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/IMG_6936.jpg?v=1614103685"/>
    </div>
    <div class="cus-md-4">
      <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/IMG_6814.jpg?v=1614099479"/>
    </div>
    <div class="cus-md-4">
      <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/IMG_7188.jpg?v=1614099479"/>
    </div>
        <div class="cus-md-4">
      <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/IMG_6818.jpg?v=1614099477"/>
    </div>

  </div>
  </div>


<div class="landing-sec3"> 
        <div class="cus-md-2">
<div class="cus-md-2-inner">          
      <h2>What is Lorem Ipsum?</h2>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
    </div>
        <div class="cus-md-2 img-bg">
        

  </div>
</div>




<style>
  
  .img-bg {
    background-image: url(https://cdn.shopify.com/s/files/1/0002/0647/1226/files/70AB0ED8-8F93-46FD-B427-D748A94EF870.JPG?v=1614099480);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
  .page-landing-template .container.main.content {
    width: 100%;
    padding: 0;
}
  .page-landing-template img {
    width: 100%;
}
.cus-md-2-inner {
    max-width: 565px;
    float: right;
    padding: 70px 45px 70px 0px !important;
}
  .cus-md-2-inner h2{
color: #fff;
  }
  .cus-md-4 img {
    width: 100%;
}
  .cus-md-4 {
    width: 25% !important;
    float: left !important;
    padding: 0 15px 25px;
}
.cus-md-2 {
    width: 50%;
    float: left;
    background-color: #b90ef2;
    color: #fff;
}

.landing-sec3 {
    display: flex;
    margin-top: 40px;
}
  
.landing-sec1 .container {
    display: flex;
    flex-wrap: wrap;
}
  .cus-md-1 {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}
</style>