<div class="press_accordian_container">
  <h2 class="press-accord-heading">Lola in the Press</h2>
  <div class="acc-container">


  <div class="acc">
      <div class="acc-head">
        <p>2024</p>
      </div>
      <div class="acc-content">
        <div class="accordion-item-desc">
          <div class="accordian-press-cards double">
            <a href="https://www.fox32chicago.com/video/1469819" class="press-card-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Win_With_Women_at_Lola_and_the_Boys_in_Chicago.png?v=1718226908"
                alt=""
              >
              <p>Win With Women' at Lola and the Boys in Chicago</p>
              <span>Date: June 12, 2024</span>
            </a>

            <a
              href="https://www.youtube.com/watch?v=dI4bmbLUX1w"
              class="press-card-item"
            >
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Top_Summer_Styles_For_Kids_To_Make_Life_Easier.png?v=1718227023"
                alt=""
              >
              <p>Top Summer Styles For Kids To Make Life Easier</p>
              <span>Date: April 26, 2024</span>
            </a>
          </div>


           <div class="accordian-press-cards">
            <a href="https://www.instagram.com/p/C1vG0GYPWMN/" class="press-card-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Lance_Bass_Daughter_Wears_Lola_The_Boys_Apparel.png?v=1713278229"
                alt=""
              >
              <p>Lance Bass’ Daughter Wears Lola + The Boys Apparel</p>
              <span>Date: Jan 6, 2024</span>
            </a>

            <a
              href="https://www.youtube.com/watch?v=oPF0emGfwN8"
              class="press-card-item"
            >
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Lola_The_Boys_Apparel_Featured_in_Good_Day_New_York.png?v=1713278366"
                alt=""
              >
              <p>Lola + The Boys Apparel Featured in Good Day New York</p>
              <span>Date: Jan 15, 2024</span>
            </a>




                         <a
              href="https://www.forbes.com/sites/margauxlushing/2024/05/10/mothers-day-gift-guide-the-most-stylish-mom-and-mini-matching-outfits/"
              class="press-card-item"
            >
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Mother_s_Day_Gift_Guide_2024_The_Most_Stylish_Mom_And_Mini_Matching_Outfits.png?v=1718990073"
                alt=""
              >
              <p>Mother’s Day Gift Guide 2024: The Most Stylish Mom And Mini Matching Outfits</p>
              <span>Date: May 10, 2024</span>
            </a>
          </div>
          
    </div>
            </div>
        </div>







    
    <div class="acc">
      <div class="acc-head">
        <p>2023</p>
      </div>
      <div class="acc-content">
        <div class="accordion-item-desc">
          <div class="accordian-press-cards">
            <a
              href="https://wgntv.com/daytime-chicago/the-holiday-shop-with-lola-and-the-boys/"
              class="press-card-item"
            >
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/The_Holiday_Shop_With_Lola_and_The_Boys_1.png?v=1705187981"
                alt=""
              >
              <p>The Holiday Shop With Lola and The Boys</p>
              <span>Date: Dec 14, 2023</span>
            </a>
            <a href="https://galoremag.com/unwrap-the-magic-your-ultimate-holiday-gift-guide/" class="press-card-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Unwrap_the_Magic_Your_Ultimate_Holiday_Gift_Guide_Jewelry_Make-Up_Fashion_Wines_Tech_More_1.png?v=1705184799"
                alt=""
              >
              <p>Unwrap the Magic: Your Ultimate Holiday Gift Guide (Jewelry, Make-Up, Fashion, Wines, Tech & More)!</p>
              <span>Date: December 8, 2023</span>
            </a>
            <a href="https://thegarnettereport.com/fashion/irina-ovrutsky-on-lola-the-boys/" class="press-card-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Meet_Irina_Ovrutsky_Fashion_Designer_behind_Lola_The_Boys.png?v=1705187981"
                alt=""
              >
              <p>Meet Irina Ovrutsky, Fashion Designer behind Lola + The Boys</p>
              <span>Date: December 8, 2023</span>
            </a>
          </div>

          <div class="accordian-press-cards">
            <a
              href="https://wgntv.com/news/wgn-weekend-morning-news/weekend-break/weekend-break-unicorn-world-by-lola-the-boys/"
              class="press-card-item"
            >
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Weekend_Break_Unicorn_World_by_Lola_The_Boys.png?v=1705188478"
                alt=""
              >
              <p>Weekend Break: Unicorn World by Lola + The Boys</p>
              <span>November 5, 2023</span>
            </a>
            <a href="https://www.fox32chicago.com/video/1306530" class="press-card-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Lola_and_the_Boys_From_Chicago_to_celebrity_kids_closets.png?v=1705188479"
                alt=""
              >
              <p>Lola and the Boys: From Chicago to celebrity kids' closets</p>
              <span>November 4, 2023 </span>
            </a>
            <a
              href="https://www.thedrewbarrymoreshow.com/videos/drew-meets-the-founder-of-kerry-k-foundation-an-organization-that-provides-shoes-to-ghanaian"
              class="press-card-item"
            >
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Drew_Meets_the_Founder_of_Kerry_K_Foundation_an_Organization_That_Provides_Shoes_to_Ghanaian_Kids_Drew-Gooders.png?v=1705188479"
                alt=""
              >
              <p>
                Drew Meets the Founder of "Kerry K Foundation," an Organization That Provides Shoes to Ghanaian Kids |
                Drew-Gooders
              </p>
              <span>Date: June 18, 2023</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="acc">
      <div class="acc-head">
        <p>2022</p>
      </div>
      <div class="acc-content">
        <div class="accordion-item-desc">
          <div class="accordian-press-cards single">
            <a href="https://dailymom.com/shine/17-cute-trendy-summer-styles-for-kids/" class="press-card-item onecol">
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/17_Cute_Trendy_Summer_Styles_For_Kids.png?v=1705189802"
                alt=""
              >
              <div class="press-onecol-text">
                <p>17 Cute & Trendy Summer Styles For Kids</p>
                <span>Date: June 16, 2022</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="acc">
      <div class="acc-head">
        <p>2018</p>
      </div>
      <div class="acc-content">
        <div class="accordion-item-desc">
          <div class="accordian-press-cards single">
            <a href="https://www.earnshaws.com/earnie-awards/the-2018-earnie-awards/" class="press-card-item onecol">
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/The_2018_Earnie_Awards.png?v=1705190950"
                alt=""
              >
              <div class="press-onecol-text">
                <p>The 2018 Earnie Awards</p>
                <span>Date: Nov 27, 2018</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="acc">
      <div class="acc-head">
        <p>2017</p>
      </div>
      <div class="acc-content">
        <div class="accordion-item-desc">
          <div class="accordian-press-cards double">
            <a href="https://www.thechic.us/lolaandtheboys/" class="press-card-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Kiddo_fashion_s_Irina_Ovrutsky_from_Lola_The_Boys.png?v=1705191700"
                alt=""
              >
              <p>Kiddo fashion’s Irina Ovrutsky from Lola & The Boys</p>
              <span>Date: July 7, 2017</span>
            </a>

            <a
              href="https://abc7chicago.com/windy-city-live-fashion-kids-clothes-lola-and-the-boys/2159932/"
              class="press-card-item"
            >
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Chicago_mom_creates_affordable_fashion_line_at_Lola_The_Boys_online_store.png?v=1705191790"
                alt=""
              >
              <p>Chicago mom creates affordable fashion line at 'Lola & The Boys' online store</p>
              <span>Date: June 29, 2017</span>
            </a>
          </div>

          <div class="accordian-press-cards">
            <a href="https://www.youtube.com/watch?v=Qd4X8h_fMng" class="press-card-item">
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Model_and_Fashion_Designer_Irina_Ovrutsky_tells_us_more_about_the_mother_daughter_chic_clothing_store_Lola_and_the_Boys.png?v=1705191905"
                alt=""
              >
              <p>
                Model and Fashion Designer Irina Ovrutsky tells us more about the mother daughter chic clothing store,
                Lola and the Boys!
              </p>
              <span>Date: June 14, 2017</span>
            </a>
            <a
              href="https://ladybossblogger.com/irina-ovrutsky-designs-playful-trendy-affordable-kids-clothing/"
              class="press-card-item"
            >
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Irina_Ovrutsky_Designs_Playful_Trendy_And_Affordable_Kids_Clothing.png?v=1705192013"
                alt=""
              >
              <p>Irina Ovrutsky Designs Playful, Trendy And Affordable Kids Clothing</p>
              <span>Date: March 15, 2017</span>
            </a>
            <a
              href="https://jwcdaily.com/sheridanroadmagazine/2016/10/14/the-fabric-of-our-lives/"
              class="press-card-item"
            >
              <img
                src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/The_Fabric_of_our_Lives.png?v=1705192124"
                alt=""
              >
              <p>The Fabric of our Lives</p>
              <span>Date: October 14, 2016</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
          @keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        .page-press .container.main.content {
          max-width: 100% !important;
        }
        .press_accordian_container {
          background-color: #F5E3FE;
          padding: 60px 0 10px;
          border-top: 1px solid #ccc;
        }
        .custom-press-logos {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          justify-content: center;
          align-items: center;
        }
        .custom-press-logos .press-logo-item img {
          width: 50%;
          height: 100%;
          object-fit: contain;
        }

        .custom-press-logos .press-logo-item {
          text-align: center;
          margin-bottom: 4rem;
        }

        @media screen and (max-width: 767px) {
          .custom-press-logos {
            grid-template-columns: repeat(3, 1fr);
          }
          .custom-press-logos .press-logo-item {
            margin-bottom: 40px !important;
          }
        }
        .press_accordian_container .accordion-item-desc {
          animation: fadeIn 0.5s ease;
          padding-bottom: 20px;
        }
        .press-accord-heading {
          font-size: 32px;
          color: #333;
          text-align: center;
        }

        .press_accordian_container .press-card-item img {
          width: 100%;
        }
        .press_accordian_container .accordian-press-cards {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
          margin-bottom: 40px;
        }
        .press_accordian_container .accordian-press-cards.single {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          margin-bottom: 40px;
        }

        .press_accordian_container .accordian-press-cards.double {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          margin-bottom: 100px;
        }

        .press_accordian_container .press-card-item.onecol {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: center;
          margin-top: 50px;
        }
        .press_accordian_container .press-onecol-text {
          padding: 0 80px;
        }

       .press_accordian_container .press-card-item p {
          color: #333;
          font-size: 21px;
         margin-bottom:0 !important;
          padding: 12px 0;
      }

      .press_accordian_container .press-card-item span {
      color: #878787;
      font-size: 16px;
      padding: 10px 0;
      font-weight: 300 !important;
  }
        .press_accordian_container .press-card-item {
          text-decoration: none;
        }
        .press_accordian_container .icon {
          width: 1%;
          color: #a77f4d;
        }
        .press_accordian_container .accordion-item-title h4 {
          text-align: center;
          width: 99%;
          color: #a77f4d;
          font-size: 16px;
        }

        .press_accordian_container .accordion {
          max-width: 100%;
        }

        .press_accordian_container .accordion-item {
          border: 1px solid #ddd;
          background-color: #f5f5f5;
          border-radius: 4px;
          margin-bottom: 20px;
        }

        .press_accordian_container .accordion-item .accordion-item-title {
          position: relative;
          margin: 0;
          display: flex;
          width: 100%;
          font-size: 15px;
          cursor: pointer;
          padding: 14px 20px;
          box-sizing: border-box;
          color: #000 !important;
          align-items: center;
        }

        .press_accordian_container .accordion-item .accordion-item-desc {
          display: none;
          box-sizing: border-box;
          background-color: #fff !important;
        }

        .press_accordian_container .accordion-item input[type="checkbox"] {
          position: absolute;
          height: 0;
          width: 0;
          opacity: 0;
        }

        .press_accordian_container
          .accordion-item
          input[type="checkbox"]:checked
          ~ .accordion-item-desc {
          display: block;
        }

        .press_accordian_container
          .accordion-item
          input[type="checkbox"]:checked
          ~ .accordion-item-title
          .icon:after {
          content: "×";
          font-size: 20px;
        }

        .press_accordian_container
          .accordion-item
          input[type="checkbox"]
          ~ .accordion-item-title
          .icon:after {
          content: "+";
          font-size: 20px;
        }

        .press_accordian_container .accordion-item:last-child {
          margin-bottom: 0px !important;
        }
        .page-press .container.main.content {
          max-width: 100% !important;
          padding: 30px 0 0;
        }

        @media only screen and (max-width: 798px) {
          .page-press .container {
            max-width: 100% !important;
            width: 100% !important;
          }
        }

        @media screen and (max-width: 767px) {
          .press_accordian_container .accordian-press-cards {
            grid-template-columns: 1fr !important;
          }
          .press_accordian_container .press-card-item.onecol {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
          }
          .press_accordian_container .press-onecol-text {
            padding: 0px !important;
          }
          .press_accordian_container .accordian-press-cards.double {
            margin-bottom: 40px !important;
          }
          .press_accordian_container .accordian-press-cards {
            gap: 40px !important;
          }
        }

        .press_accordian_container .accordion-item-desc {
        background-color: #f5e3fe !important;
        padding: 2rem;
    }
          .press_accordian_container   .press-card-item img{
                width: 100%;
              }
              .press_accordian_container  .accordian-press-cards{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
                margin-bottom: 40px;
                padding-bottom: 40px;
            }
            .press_accordian_container  .accordian-press-cards.single{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                margin-bottom: 40px;
            }

            .press_accordian_container  .accordian-press-cards.double{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-bottom: 100px;
            }



            .press_accordian_container  .press-card-item.onecol{
            display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                margin-top: 50px;
          }
          .press_accordian_container .press-onecol-text{
            padding: 0 80px;
          }





              .press_accordian_container   .press-card-item {
              text-decoration: none;

              }





          .press_accordian_container .acc-container {
            max-width: 100%;
            width: 100%;
          }

          .press_accordian_container .acc {
            margin-bottom: 10px;
          }

          .press_accordian_container .acc-head {

              background-color: #F6D2FF;
              border-radius: 4px;

              padding: 14px 0px 20px;
              cursor: pointer;
              position: relative;
           }

          .press_accordian_container .acc-head::before,
           .press_accordian_container .acc-head::after {
            content: '';
            position: absolute;
            top: 50%;
            background-color: #333;
            transition: all .3s;
           }

          .press_accordian_container .acc-head::before {
              right: 27px;
              width: 3px;
              height: 12px;
              margin-top: -8px;
          }
          .press_accordian_container .acc-head::after {
              right: 23px;
              width: 11px;
              height: 2px;
              margin-top: -3px;
          }

          .press_accordian_container .acc-head p {
            text-align: center;
              width: 99%;
              color: #333;
              font-size: 16px;
              margin: 0;
          }

          .press_accordian_container .acc-content {
            display: none;
                justify-content: center;
          }

          .press_accordian_container .acc-head.active::before {
              transform: rotate(90deg);
          }








          @media screen and (max-width: 767px) {

          .press_accordian_container .press-card-item.onecol {
              margin-top: 0px !important;
          }


              .press_accordian_container .accordian-press-cards{
                grid-template-columns: 1fr !important;
              }
              .press_accordian_container  .press-card-item.onecol{
            display: grid;
                grid-template-columns: repeat(1, 1fr);

          }
          .press_accordian_container .press-onecol-text{
            padding: 0px !important;
          }
          .press_accordian_container  .accordian-press-cards.double{

                margin-bottom: 40px !important;
            }
            .press_accordian_container .accordian-press-cards {
              gap: 40px !important;

          }

            }
</style>

{% schema %}
{
  "name": "Press",
  "class": "press-section",
  "settings": [
       {
         "type" : "text",
         "id" : "headline",
         "label" : "Headline Text"
       },
       {
         "type" : "richtext",
         "id" : "date_news",
         "label" : "Date News Text"
       },
       {
         "type" : "text",
         "id" : "headline1",
         "label" : "Headline Text"
       }
  ],
  "blocks": [
	{
       "type": "question",
       "name": "Question",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Select Image"
         },
	  {
           "type": "text",
           "id": "heading",
           "label": "Question",
           "default": "Asked Question"
         },
         {
           "type": "text",
           "id": "press_post_site",
           "label": "Add Press Post Site"
         },
         {
           "type": "text",
           "id": "press_post_date",
           "label": "Add Press Post Date",
		"default": "Jun 16 2022",
           "info": "e.g. mm-dd-yyyy"
         },
	  {
           "type": "text",
           "id": "button_label",
           "label": "Button label",
           "default" : "Read full article"
         },
         {
         "type": "url",
         "id": "button_link",
         "label": "Button link"
       }

       ]
     }

  ],
  "presets": [
    {
      "name": "Press section",
      "category": "Custom"

    }
  ]
}
{% endschema %}

<script>
  $(document).ready(function () {
    // ...

    $('.acc-head').on('click', function () {
      var accordionItem = $(this).closest('.acc');

      if ($(this).hasClass('active')) {
        $(this).siblings('.acc-content').slideUp();
        $(this).removeClass('active');
      } else {
        accordionItem.find('.acc-content').slideUp();
        accordionItem.find('.acc-head').removeClass('active');
        $(this).siblings('.acc-content').fadeIn().css('display', 'flex'); // Add fade-in effect
        $(this).toggleClass('active');
      }
    });

    // Trigger click on the first accordion to open it by default
    $('.acc-container .acc:first-child .acc-head').trigger('click');
  });
</script>
