<div class="rewards-new">
  <div class="banner-rewards">
    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Loyalty_Club_Banner_2_1400x_6f541fcd-7f91-4be9-a7f8-ba5b88604a39_1600x.jpg?v=1611641816" class="rewards-banner">
  </div>
  {% comment %}
  <div class="cta-rewards">
    <ul> 
      <li class="login-btn active"><a href="/account/login?return_url=%2Faccount">Sign In</a></li>
      <li class="register-btn"><a href="/account/register">Create an Account</a></li>
    </ul>
  </div>
  {% endcomment %}
  <div class="yotpo-widget-instance" data-yotpo-instance-id="52524"></div>
  
  {% comment %}
  <div class="three-col-sec">
    <div class="heading-rewards">
      <h2>Sign In To Start Earning</h2>
      <p>Get points for every action you take</p>
    </div>
    <div class="row-custom">
    
      <div class="col-md-4-custom">
   	<div class="main-div-rewards">
      <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/t/31/assets/user.png?v=1624955141" class="">
      <p>Create an Account</p>
      <p>10 POINTS</p>
      </div>
  <div class="middle">
    
  </div>

    </div>
      
   <div class="col-md-4-custom">
   	<div class="main-div-rewards">
      <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/t/31/assets/hbd.png?v=1624955128" class="">
      <p>Happy Birthday!</p>
      <p>50 Points</p>
      </div>
  <div class="middle">
    
  </div>

    </div>
      
   <div class="col-md-4-custom">
   	<div class="main-div-rewards">
      <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/t/31/assets/shopping-bag.png?v=1624955135" class="">
      <p>Make a purchase</p>
      <p>1 Point Per $1.00</p>
      </div>
  <div class="middle">
    
  </div>

    </div>
      
    </div> 
  </div>
  {% endcomment %}
  
  <div class="yotpo-widget-instance" data-yotpo-instance-id="52528"></div>
  <div class="yotpo-widget-instance" data-yotpo-instance-id="52525"></div>
  {% comment %}
  <!-- Cta -->
   <div class="cta-rewards">
    <div class="btn1">
      <a href="">Sign In</a>
    </div>
    
    <div class="btn2">
      <a href="">Create an Account</a>
    </div>  
  </div>
  <!-- cta End -->
  {% endcomment %}
  
  <div class="faq-reward">
    <h2>How Do I Participate?</h2>
    <p>Joining is easy! Just click the Create An Account button to get started. Once you're registered with our store, you'll have the opportunity to take part in all of the exciting ways we currently offer to earn points!</p>
    <h2>How Can I Earn Points?</h2>
    <p>You can earn points by participating in any of our innovative promotions! Simply click on the 'Earn Points' tab to view and take part in our current opportunities. In addition, make sure to check back often, as we're adding great new ways for you to earn points all the time!</p>

<h2>What Can I Redeem My Points For?</h2>
<p>Glad you asked! We want to make it easy and fun to redeem your hard-earned points. Just visit the 'Get Rewards' tab to view all of our exciting reward options.</p>

<h2>How Do I Redeem My Points?</h2>
<p>Exchanging your points for great rewards couldn't be easier! Simply visit the 'Get Rewards' tab to view all of our great reward options and click the 'Redeem' button to redeem your reward.</p>

<h2>How Do I Check My Points Balance?</h2>
<p>Your up-to-date points balance is always displayed in the top of this popup.</p>

<h2>Does It Cost Anything To Begin Earning Points?</h2>
<p>Absolutely not! Sign up is 100% free, and it will never cost you anything to earn points. Make sure to visit the 'Earn Points' tab to get started.</p>

<h2>Do I Have To Enroll Or Register In Individual Promotions?</h2>
<p>Once you register for an account, you're all set – we don't require you to register for individual promotions in order to be eligible. Just fulfill the requirements of a promotion, and we'll post the points to your account immediately!</p>

<h2>How Long Will It Take For Points To Post To My Account?</h2>
<p>You should receive points in your account instantly once you complete a promotion!</p>

<h2>Do My Points Expire?</h2>
<p>Nope! Your points will never expire.</p>

<h2>What Happens To My Points If I Make A Return?</h2>
<p>When you return an item, you lose the associated credit you originally earned by buying the item in the first place.
Sound kind of confusing? Let's take an example: let's say you had previously spent $50 towards a 'spend $100, earn 500 points' promotion, and you decide to buy a $20 item, which bumps you up to $70. If you decide to return that item, your progress would also go back down to $50 – it's just like you hadn't bought the item in the first place.</p>

<h2>How Do I Contact Support If I Have Questions About My Points?</h2>
<p>Our team is ready and waiting to answer your questions about our rewards program! Just send us an email and we'll be in touch.</p>

<h2>I'm Very Close To Earning A Reward. Can I Buy Extra Points To Get There?</h2>
<p>We currently require you to have enough points to redeem any of the awards you see listed on the 'Get Rewards' tab.</p>

<h2>What If I Don't Want To Receive Promotional Emails?</h2>
    <p>From time to time, you'll receive program-related emails from us. If you'd prefer to not receive those types of emails anymore, just click the 'Unsubscribe' button when you receive your next email.</p>
  </div>
</div>
{% schema %}
  {
    "name": "Rewards Section",
    "settings": [
 
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
