{% render 'shogun-products', content: page %}
<a name="pagecontent" id="pagecontent"></a>

<div class="size-page-section">
  <div class="main-container">
    <div class="row">
      <div class="wi-100">
        <div class="page-title">
          <h1>{{ page.title }}</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="wi-25 wi-100">
        <div class="contact-page-coustmer">
          <div class="contact-page-box-title">
            <h4>CUSTOMER CARE</h4>
          </div>
          <div class="contact-page-box-content">
            <div class="contact-menu-list">
              <ul>
                <li><a href="/pages/contact-us">Contact Us</a></li>
                <!--
                  <li><a href="/pages/payment">Payment</a></li>
                  <li><a href="/pages/shipping">Shipping & Delivery</a></li>
                -->
                <li><a href="/pages/size-guide">Size Guide</a></li>
                <li><a href="/products/gift-card">Gift Lola + The Boys</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="contact-page-coustmer">
          <div class="contact-page-box-content">
            <div class="contact-menu-list">
              <!-- <p><b>LIVE SUPPORT</b><br><a href="#">Let's Chat</a></p> -->

              <p>
                <b>BY EMAIL</b><br>
                <a href="mailto:Sales@lolaandtheboys.com">Sales@lolaandtheboys.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="wi-75 wi-100">
        <div class="contact-page-box-title">
          <h4>STANDARD SIZING</h4>
        </div>
        <div class="contact-page-box-content">
          <div class="sizeguide-tab-main">
            <div class="tabbedPanels">
              <!-- begins the tabbed panels / wrapper -->
              <ul class="tabs">
                <li><a href="#panel1">Jackets</a></li>
                <li><a href="#panel2">T-shirt</a></li>
                <li><a href="#panel3">Bombers</a></li>
                <li><a href="#panel4">Skirts</a></li>
                <li><a href="#panel5">Joggers</a></li>
                <li><a href="#panel6">Sweatshirt</a></li>
                <li><a href="#panel7">DRESSES</a></li>
                <li><a href="#panel8">Body Size Guide</a></li>
              </ul>
              <div class="panelContainer">
                <div id="panel1" class="panel">
                  <div class="table-main-upper">
                    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/JACKETS-size-chart.png?v=1642662706">
                    <!--
                      <table border="0" cellspacing="0" cellpadding="0" class="table table--top-header responsive">
                          <tbody>
                              <tr class="table__row">
                                  <th class="table__cell">Size</th>
                                  <th class="table__cell">Chest</th>
                                  <th class="table__cell">Slv L</th>
                                  <th class="table__cell">Length</th>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">1</td>
                                  <td class="table__cell">32</td>
                                  <td class="table__cell">36</td>
                                  <td class="table__cell">34”</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">2</td>
                                  <td class="table__cell">34</td>
                                  <td class="table__cell">38.5</td>
                                  <td class="table__cell">37</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">4</td>
                                  <td class="table__cell">36</td>
                                  <td class="table__cell">38.5</td>
                                  <td class="table__cell">37</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">6</td>
                                  <td class="table__cell">38</td>
                                  <td class="table__cell">43</td>
                                  <td class="table__cell">41</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">8</td>
                                  <td class="table__cell">39</td>
                                  <td class="table__cell">45</td>
                                  <td class="table__cell">42</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">10</td>
                                  <td class="table__cell">40</td>
                                  <td class="table__cell">48</td>
                                  <td class="table__cell">45</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">12</td>
                                  <td class="table__cell">41.5</td>
                                  <td class="table__cell">51.5</td>
                                  <td class="table__cell">47.5</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">14</td>
                                  <td class="table__cell">43</td>
                                  <td class="table__cell">53.5</td>
                                  <td class="table__cell">49</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">S</td>
                                  <td class="table__cell">44</td>
                                  <td class="table__cell">57</td>
                                  <td class="table__cell">51</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">S</td>
                                  <td class="table__cell">46</td>
                                  <td class="table__cell">59</td>
                                  <td class="table__cell">54</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">L</td>
                                  <td class="table__cell">47.5</td>
                                  <td class="table__cell">60.5</td>
                                  <td class="table__cell">56.5</td>
                              </tr>
                          </tbody>
                      </table>
                    -->
                  </div>
                  <!--
                    <div class="table-measure-content">
                        <div class="row">
                            <div class="wi-50">
                                <div class="measure-img">
                                    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/t/31/assets/size-guide-measure-img.jpg?v=1621240789" alt="">
                                </div>
                            </div>
                            <div class="wi-50">
                                <div class="measure-text">
                                    <p><b>1. LENGTH</b><br>Measure from the top of the shoulder seam down to the hem.</p>
                                    <p><b>2. BUST</b><br>Measure around the fullest part, placing the tape close up under the arms.</p>
                                    <p><b>3. WAIST</b><br>Measure around the narrowest part of your body, under your navel.</p>
                                    <p><b>4. HIP</b><br>Measure 8 in (20 cm) down from your waist.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                  -->
                </div>
                <!-- end panel 1 -->
                <div id="panel2" class="panel">
                  <div class="table-main-upper">
                    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/T-shart-size-chart.png?v=1642662912">
                    <!--
                      <table border="0" cellspacing="0" cellpadding="0" class="table table--top-header responsive">
                          <tbody>
                              <tr class="table__row">
                                  <th class="table__cell">Size</th>
                                  <th class="table__cell">2Y</th>
                                  <th class="table__cell">4Y</th>
                                  <th class="table__cell">6Y</th>
                                  <th class="table__cell">8Y</th>
                                  <th class="table__cell">10Y</th>
                                  <th class="table__cell">12Y</th>
                                  <th class="table__cell">12Y</th>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">2</td>
                                  <td class="table__cell">33 ½” – 35”</td>
                                  <td class="table__cell">20”-20 ½”</td>
                                  <td class="table__cell">20 ½”-21”</td>
                                  <td class="table__cell"></td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">3</td>
                                  <td class="table__cell">35”-38”</td>
                                  <td class="table__cell">20 ½”-21”</td>
                                  <td class="table__cell">21”-21 ½”</td>
                                  <td class="table__cell"></td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">4</td>
                                  <td class="table__cell">38”-41”</td>
                                  <td class="table__cell">21”-22”</td>
                                  <td class="table__cell">21 ½” – 22”</td>
                                  <td class="table__cell"></td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">5</td>
                                  <td class="table__cell">41”-44”</td>
                                  <td class="table__cell">22”-23”</td>
                                  <td class="table__cell">22” – 22 ½”</td>
                                  <td class="table__cell"></td>
                              </tr>
                          </tbody>
                      </table
                    -->
                    >
                  </div>
                </div>
                <!-- end panel 2 -->
                <div id="panel3" class="panel">
                  <div class="table-main-upper">
                    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/bomerr-chart.png?v=1642662995">
                    <!--
                      <table border="0" cellspacing="0" cellpadding="0" class="table table--top-header responsive">
                          <tbody>
                              <tr class="table__row">
                                  <th class="table__cell">Size</th>
                                  <th class="table__cell">Heights</th>
                                  <th class="table__cell">Chest</th>
                                  <th class="table__cell">Waist</th>
                                  <th class="table__cell">Hips</th>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">6</td>
                                  <td class="table__cell">46”-49”</td>
                                  <td class="table__cell">24 ½”</td>
                                  <td class="table__cell">22”</td>
                                  <td class="table__cell">25 ½”</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">7</td>
                                  <td class="table__cell">49”-52”</td>
                                  <td class="table__cell">26”</td>
                                  <td class="table__cell">22 ½”</td>
                                  <td class="table__cell">27”</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">8</td>
                                  <td class="table__cell">52”-55”</td>
                                  <td class="table__cell">27 ½”</td>
                                  <td class="table__cell">23”</td>
                                  <td class="table__cell">28 ½”</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">10</td>
                                  <td class="table__cell">55”-58”</td>
                                  <td class="table__cell">29”</td>
                                  <td class="table__cell">24 ½”</td>
                                  <td class="table__cell">30”</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">12</td>
                                  <td class="table__cell">58”-60”</td>
                                  <td class="table__cell">30 ½”</td>
                                  <td class="table__cell">25”</td>
                                  <td class="table__cell">32”</td>
                              </tr>
                          </tbody>
                      </table>
                    -->
                  </div>
                  <!--
                    <div class="tabel-note-content">
                        <p>Note: This guide provides general sizing information, which can vary depending on style and brand.</p>
                        <p>For more specific sizing information on the product, please feel free to contact customer service <a href="tel:1-888-442-5830">(1-888-442-5830)</a>. Upon request, they can send a complimentary measuring tape to you.</p>
                    </div>
                  -->
                </div>
                <div id="panel4" class="panel">
                  <div class="table-main-upper">
                    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/skirt.png?v=1642663467">
                    <!--
                      <table border="0" cellspacing="0" cellpadding="0" class="table table--top-header responsive">
                          <tbody>
                              <tr class="table__row">
                                  <th class="table__cell">Size</th>
                                  <th class="table__cell">Heights</th>
                                  <th class="table__cell">Chest</th>
                                  <th class="table__cell">Waist</th>
                                  <th class="table__cell">Hips</th>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">S/14</td>
                                  <td class="table__cell">60”-62”</td>
                                  <td class="table__cell">32”</td>
                                  <td class="table__cell">26”</td>
                                  <td class="table__cell">34”</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">M/16</td>
                                  <td class="table__cell">62”-63”</td>
                                  <td class="table__cell">33 ½”</td>
                                  <td class="table__cell">27”</td>
                                  <td class="table__cell">36”</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">L/18</td>
                                  <td class="table__cell">62”-63”</td>
                                  <td class="table__cell">35”</td>
                                  <td class="table__cell">28”</td>
                                  <td class="table__cell">37 ½”</td>
                              </tr>
                          </tbody>
                      </table>
                    -->
                  </div>
                </div>
                <!-- end panel 3 -->
                <div id="panel5" class="panel">
                  <div class="table-main-upper">
                    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/jogeress.png?v=1642663217">
                    <!--
                      <table border="0" cellspacing="0" cellpadding="0" class="table table--top-header responsive">
                          <tbody>
                              <tr class="table__row">
                                  <th class="table__cell">Size</th>
                                  <th class="table__cell">Heights</th>
                                  <th class="table__cell">Chest</th>
                                  <th class="table__cell">Waist</th>
                                  <th class="table__cell">Hips</th>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">S/14</td>
                                  <td class="table__cell">60”-62”</td>
                                  <td class="table__cell">32”</td>
                                  <td class="table__cell">26”</td>
                                  <td class="table__cell">34”</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">M/16</td>
                                  <td class="table__cell">62”-63”</td>
                                  <td class="table__cell">33 ½”</td>
                                  <td class="table__cell">27”</td>
                                  <td class="table__cell">36”</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">L/18</td>
                                  <td class="table__cell">62”-63”</td>
                                  <td class="table__cell">35”</td>
                                  <td class="table__cell">28”</td>
                                  <td class="table__cell">37 ½”</td>
                              </tr>
                          </tbody>
                      </table>
                    -->
                  </div>
                </div>
                <div id="panel6" class="panel">
                  <div class="table-main-upper">
                    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/swetershirt-shairt.png?v=1642663325">
                    <!--
                      <table border="0" cellspacing="0" cellpadding="0" class="table table--top-header responsive">
                          <tbody>
                              <tr class="table__row">
                                  <th class="table__cell">Size</th>
                                  <th class="table__cell">Heights</th>
                                  <th class="table__cell">Chest</th>
                                  <th class="table__cell">Waist</th>
                                  <th class="table__cell">Hips</th>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">S/14</td>
                                  <td class="table__cell">60”-62”</td>
                                  <td class="table__cell">32”</td>
                                  <td class="table__cell">26”</td>
                                  <td class="table__cell">34”</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">M/16</td>
                                  <td class="table__cell">62”-63”</td>
                                  <td class="table__cell">33 ½”</td>
                                  <td class="table__cell">27”</td>
                                  <td class="table__cell">36”</td>
                              </tr>
                              <tr class="table__row">
                                  <td class="table__cell" style="display: table-cell;">L/18</td>
                                  <td class="table__cell">62”-63”</td>
                                  <td class="table__cell">35”</td>
                                  <td class="table__cell">28”</td>
                                  <td class="table__cell">37 ½”</td>
                              </tr>
                          </tbody>
                      </table>
                    -->
                  </div>
                </div>

                <div id="panel7" class="panel">
                  <div class="table-main-upper">
                    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/SizeChart_Sequin_Ombre_Dress.jpg?v=1706200195">
                    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/SizeChart_Sweetheart_Sweater_Dress.jpg?v=1706200197">
                  </div>
                </div>

                <div id="panel8" class="panel">
                  <div class="table-main-upper">
                    <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/9b907b36fc9dc32253101cd34a7cf78b_1.jpg?v=1707412936">
                  </div>
                </div>
                <!-- end panel 4 -->
              </div>
              <!-- end div class="panelContainer" or panel wrapper -->
            </div>
            <!-- ends the tabbed panels / wrapper -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sixteen columns page clearfix">
  <div>
    {% include 'page-multi-column', content: page.content %}
  </div>
</div>

<style>
  .container.main.content {
      width: 100%;
      max-width: 100%;
      padding: 0;
  }
</style>
