<style>
  .wish-drawer-open{
    visibility: unset;
    transform: translateX(0px);
  }
  .wishlist-container{
    cursor: pointer;
    vertical-align: top;
    padding-top: 2px !important;
    padding-bottom: 0px;
  }
  .wishlist-custom-drawer .wk-login-callout p {
    font-size: 13px !important;
}
  wishlist-page .wk-grid{
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .wishlist__body{
    padding: 0 20px;
  }
  .wishlist-drawer-overlay {
    position: relative;
    overflow: hidden;
  }
  .wishlist-drawer-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99999999;
  } 
  .wishlist-custom-drawer .wk-header-inner-wrapper{
    gap: 5px;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
   #header .top_bar .wishlist-mobile-container  {
    position: absolute;
    right: 72px !important;
    top: 16px !important;
  }
  wishlist-page .wk-page{
    padding: 0 !important;
  }
  .wishlist-custom-drawer .c-drawer__wishlist-header{
    padding: 1px 0 !important;
  }
  .wishlist-custom-drawer .wk-controls{
    display: none !important;
  }
  .wishlist-custom-drawer .wk-title{
    font-size: 18px !important;
    margin-top: 0px !important;
    text-align: left !important;
  }
  #wishlist-count1-drawer-value{
    font-size: 11px !important;
  }
  .first-btn-for-margin{
    margin-top: 50px !important;
  }
  wishlist-page .wk-callout-cta, wishlist-page .wk-callout-cta:visited{
    text-transform: uppercase;
    color: white;
    background: black;
    width: 90%;
  }
  wishlist-page .wk-wishlist-empty-callout{
    gap: 1em !important;
    margin: 0px !important;
  }
  wishlist-page .wk-wishlist-empty-callout p{
    letter-spacing: 0.7px !important;
  }
  .c-offcanvas__wishlist_close {
    z-index: 99;
  }
  wishlist-link-floating[wk-loaded] {
    display: none;
  }
  .header .main_nav_wrapper .main_nav .logo .logo-inner-main .header-search-main li.wish_link {
    padding-top: 3px !important;
  }
  .wk-vendor{
    display: none;
  }
   .addtocart-form, .wishlist__body {
        height: calc(120vh - 150px) !important;
    }
  @media (max-width: 768px) {
    .c-offcanvas__wishlist_close {
     top: 9px !important;
     z-index: 99;
  }
    .wk-price{
      font-size: 8px !important;
    }
    #header .top_bar .wishlist-mobile-container {
    top: 13px !important;
}
     .addtocart-form, .wishlist__body {
        height: calc(120vh - 220px) !important;
        
    }
   
    wishlist-product-card .wk-cta-button{
    min-height: 30px !important;
    font-size: 12px !important;
    letter-spacing: 0px !important;
    height: 30px !important;
    }
    wk-option-select .wk-control{
      min-height: fit-content;
    }
}

</style>
<div id="offcanvas-right-wish-drawer" class="c-offcanvas c-offcanvas--right wishlist-custom-drawer" aria-hidden="true">

  <div class="c-cart c-drawer">
    <div data-ajax-cart-section="">
      <div class="c-drawer__header c-drawer__wishlist-header">
        <span class="c-offcanvas__close c-drawer__close c-offcanvas__wishlist_close" aria-label="Close Menu" aria-hidden="true">
          <svg
            width="16px"
            height="16px"
            viewBox="0 0 16 16"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="cart-slide-in-CL--subscription" transform="translate(-339.000000, -20.000000)" fill="#000" fill-rule="nonzero">
                <g id="noun_X_1099163_3d3d38" transform="translate(339.000000, 20.000000)">
                  <path d="M6.97148103,8 L0.213013231,1.2415322 C-0.0710044102,0.957514526 -0.0710044102,0.497030907 0.213013231,0.213013231 C0.497030907,-0.0710044102 0.957514526,-0.0710044102 1.2415322,0.213013231 L8,6.97148103 L14.7584678,0.213013231 C15.0424855,-0.0710044102 15.5029691,-0.0710044102 15.7869868,0.213013231 C16.0710044,0.497030907 16.0710044,0.957514526 15.7869868,1.2415322 L9.02851897,8 L15.7869868,14.7584678 C16.0710044,15.0424855 16.0710044,15.5029691 15.7869868,15.7869868 C15.5029691,16.0710044 15.0424855,16.0710044 14.7584678,15.7869868 L8,9.02851897 L1.2415322,15.7869868 C0.957514526,16.0710044 0.497030907,16.0710044 0.213013231,15.7869868 C-0.0710044102,15.5029691 -0.0710044102,15.0424855 0.213013231,14.7584678 L6.97148103,8 Z" id="Path"></path>
                </g>
              </g>
            </g>
          </svg>
        </span>
      </div>
      <div id="wishlist-count1-drawer"><span ></span></div>
      <div id="" class="c-drawer__body wishlist__body" data-cart-view="data-cart-view" rules="all">
        <wishlist-page 
        show-product-title  
        show-price
        show-buy-all-button
        cta-button="add-to-cart"
        product-options="dropdowns"
        move-to-cart
        wishlist-empty-link="https://lolaandtheboys.com/collections/best-sellers"
      ></wishlist-page>
      </div>
    </div>
  </div>
</div>

<script>
    function updateWishlistCountDrawer() {
    var wishlistCountSpan = document.querySelector('.wk-counter');
    var wishlistCountValueSpan1 = document.getElementById('wishlist-count1-drawer-value');
    // var wishlistCountValueSpan2 = document.getElementById('wishlist-count2-value');

    wishlistCountValueSpan1.innerText = wishlistCountSpan 
    ? `${wishlistCountSpan.innerText} items` 
    : '0 items';
    // wishlistCountValueSpan2.innerText = wishlistCountSpan ? wishlistCountSpan.innerText : '0';
}
    jQuery(document).ready(function () {
    // Open the drawer when the wishlist container is clicked
    jQuery('.wishlist-container').click(function () {
      updateWishlistCountDrawer();
        console.log("Wishlist clicked", $('#offcanvas-right-wish-drawer'));
        console.log($('#offcanvas-right-wish-drawer').attr('class'));
        $('#offcanvas-right-wish-drawer').addClass('wish-drawer-open');
        $('body').addClass('wishlist-drawer-overlay');
        $('body').css('overflow', 'hidden');
    });

    // Open the drawer when the wishlist count is clicked
    jQuery('#wishlist-count2').click(function () {
        console.log("Wishlist count clicked", $('#offcanvas-right-wish-drawer'));
        console.log($('#offcanvas-right-wish-drawer').attr('class'));
        $('#offcanvas-right-wish-drawer').addClass('wish-drawer-open');
        $('body').addClass('wishlist-drawer-overlay');
        $('body').css('overflow', 'hidden');
    });

    jQuery('.liquid_ajax_cart').click(function () {
        setTimeout(function () {
            if ($(".varinat-error").find(".js-ajax-cart-message--error").length > 0) {
                console.log("out of stock");
            } else {
                console.log("available");
                $('#offcanvas-right-wish-drawer').addClass('cart-drawer-open');
                $('body').addClass('cart-drawer-overlay');
                $('body').css('overflow', 'hidden');
            }
        }, 2500);
    });

    jQuery(document).on("click", ".c-offcanvas__close", function () {
        $('.c-offcanvas--right').removeClass('wish-drawer-open');
        $('body').removeClass('wishlist-drawer-overlay');
        $('body').css('overflow', '');
    });

const $menu = $('#offcanvas-right-wish-drawer');
const $cartContainer = $('.wishlist-container');
const $wishCount = $('#wishlist-count2');

const closeMenu = () => {
    $('.c-offcanvas--right').removeClass('wish-drawer-open');
    $('body').removeClass('wishlist-drawer-overlay');
    $('body').css('overflow', '');
};

// Prevent closeMenu when clicking on any `.wk-icon` (multiple elements)
$(document).on('click', '.wk-icon', function (e) {
    e.stopPropagation(); // Stops the event from reaching the document click handler
});
$(document).on('click touchstart', '.wk-button, .wk-icon, .wk-icon svg', function (e) {
    // Wait until DOM is ready and any updates to `wishlistCountSpan` are complete
    setTimeout(function() {
        updateWishlistCountDrawer();
    }, 0); // Ensure it's run after any other DOM changes
    e.stopPropagation(); // Stops the event from reaching the document click handler
});




// Document click handler
$(document).on('click', e => {
    console.log('Clicked element:', e.target); // Debugging

    // Check if click is inside any of these elements
    if (
        $(e.target).closest($menu).length || 
        $(e.target).closest($cartContainer).length || 
        $(e.target).closest($wishCount).length || 
        $(e.target).closest('.wk-icon').length // Checks all `.wk-icon` elements
    ) {
        return; // Don't close if clicked inside allowed elements
    }

    // Clicked outside -> Close menu
    closeMenu();
});




});

</script>
{% schema %}
{
  "name": "Wishlist drawer",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
