.announcement-bar .announcement-bar-text {
  font-size: 16px !important;
  letter-spacing: 0;
  font-weight: 400 !important;
  font-family: "Roboto";
}
.announcement-bar {
  padding: 0.6em 1em;
}
.shop-now-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
span#countdown {
  position: static !important;
  height: auto !important;
  transform: none !important;
  font-size: 16px !important;
}
.countdown-wrapper .details {
  text-decoration: underline;
}

#countdown {
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 6px;
}
.shop-now-text br {
  display: none;
}
.countdown-numbrs p {
  font-family: "Roboto" !important;
}
.announcement-bar p {
  padding: 6px 0 0;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 15px;

  line-height: 15px;
}

.shop-now-text b {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.countdown-numbrs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  color: #000 !important;
  padding: 0;
  font-size: 25px;
  line-height: 18px !important;
  font-weight: 400 !important;
  background-color: #fbf5f5;
  padding: 11px 9px 8px !important;
  border-radius: 3px;
  margin-right: 3px;
  font-family: "Montserrat-Regular", sans-serif;
}
.countdown-number {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #fff;
  gap: 3px;
  justify-content: center;
}

.countdown-number p {
  font-size: 12px;
  font-weight: 600 !important;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 12px !important;
  text-align: center;
}
.countdown-number {
  font-family: Alias-Didot-Light !important;
}

.announcement-bar-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  .announcement-bar p {
    font-size: 11px;
    line-height: 11px;
  }

  .shop-now-text br {
    display: block;
  }
  .shop-now-text {
    line-height: 1.5 !important;
  }

  .shop-now-text b {
    font-size: 11px;
  }

  .countdown-numbrs {
    font-size: 20px;
    line-height: 13px !important;
    padding: 10px 9px 3px !important;
    border-radius: 2px;
    margin-right: 3px;
  }
}

@media only screen and (max-width: 480px) {
  .announcement-bar p {
    font-size: 11px;
    line-height: 9px;
    padding: 5px 0 0;
  }
  .shop-now-text {
    gap: 6px;
  }
  .shop-now-text b {
    font-size: 11.5px;
  }
  .countdown-numbrs {
    font-size: 20px;
    line-height: 13px !important;
    padding: 7px 7px 3px !important;
    border-radius: 2px;
    margin-right: 3px;
  }

  .annoucment-bar-top .announcement-bar .announcement-bar-text,
  .annoucment-bar-top span#countdown {
    padding: 0 !important;
  }

  .announcement-bar {
    padding: 0.4em 0.5em;
  }

  .announcement-bar-text {
    gap: 10px;
  }
}

@media only screen and (max-width: 479px) and (min-width: 320px) {
  .announcement-bar .announcement-bar-text,
  span#countdown {
    font-size: 9px !important;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .announcement-bar .announcement-bar-text {
    font-size: 11px !important;
  }
}
