 .full-width-overlay .product-item a.product-title {
    letter-spacing: 0px;
}


  
   .full-width-overlay .header_search_form .search-submit {
        font-size: 20px !important;
    }
.header .main_nav_wrapper .main_nav .logo .logo-inner-main a {
    margin: 0 auto;
}
.full-width-overlay .collection-product-list-wrap h4 {
    margin-bottom: 0 !important;
    line-height: 1 !important;
        padding-bottom: 0 !important;
}
.full-width-overlay .product-item a.product-title {
    font-size: 12px !important;
}
.full-width-overlay  .product-item p.product-price {
    font-size: 11px !important;
}
  
.shop-best-btn {
    text-align: center;
    margin-top: 70px;
display:none;
}

.shop-best-btn a{
     background: #000;
    color: #fff;
padding:15px 30px
}
 header .cart_container {
    z-index: 1;
}

  
  @media screen and (max-width: 769px) {
   

html:has(.full-width-overlay.mobilesearch-overflowhidden) {
    overflow: hidden;
}


    
.shop-best-btn {
display:block !important;
}
.full-width-overlay .collection-product-list .product-item h4{
  margin-bottom:0 !important;
}
   .full-width-overlay .header_search_form {
    padding: 0px 15px 0 !important;

}

  .full-width-overlay   .header_search_form .search-submit {
        top: 32px !important;
        left: 7px;
        right: 0;
        width: min-content;
        display: inline-block;
    }
.full-width-overlay .close-overlay {
        top: -4px;
        right: -8px;
        position: relative;
        order: 1;
        padding: 8px 25px 0px 0;
    }
 #fullWidthSearchOverlay .sidebar-menu-wrap ul li {
    width: max-content;
    min-width: max-content;
}
#fullWidthSearchOverlay .overlay-body-content ul li a {
        border: 1px solid #000;
        border-radius: 25px;
        padding: 5px 16px !important;
        text-align: center;
        font-size: 14px;
  font-weight: 300 !important;
    }
    

#fullWidthSearchOverlay .header_search_form {
    border: 1px solid #000 !important;
          order: 2;
}
#fullWidthSearchOverlay .header_search_form input {
          margin-bottom: 0px !important;
        padding: 25px 10px;
}
    

 .full-width-overlay .collection-product-wrap h3 {
    color: #000;
}
 .full-width-overlay .collection-product-list .product-item a.product-title {
    font-weight: 400 !important;
}
    
    
 .full-width-overlay .header_search_form {
    margin:0;
}
    
 .full-width-overlay .overlay-content{
  height:100% !important;
}
 .full-width-overlay .search-wrap {
    margin-bottom: 20px;
   margin-top:20px;
}
    
	 .full-width-overlay .trending-searches-wrapper{
	    overflow: scroll;
        padding-bottom: 15px;
	}
    
 .full-width-overlay .sidebar-menu-wrap ul {
    display: flex;
    width: 600px;
          gap: 5px !important;
}
	
	
   .full-width-overlay .collection-product-wrap h3 {
    text-align: left;
		 	margin-bottom:10px !important;
}

 .full-width-overlay .overlay-body-content{
flex-direction:column;
  gap:20px !important;
}

 .full-width-overlay .collection-product-wrap, .sidebar-menu-wrap{
width:100% !important;
}
 .full-width-overlay .collection-product-list-wrap{
    overflow: auto;
	    scrollbar-width: none;
}

 .full-width-overlay .overlay-content {
    padding: 0 10px 30px !important;
	    overflow-x: auto;
           overflow-y: hidden;
}

 .full-width-overlay .collection-product-list {
    gap: 5px !important;
	    width: 150vw;
	flex-wrap:nowrap !important;
}


 .full-width-overlay .product-item {
    width:25% !important;
}
    
}

.full-width-overlay {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.full-width-overlay.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}


.full-width-overlay {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000007d;
  z-index: 999999999999 !important;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}


.overlay-content {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    height: auto;
    background: #fff;
    padding: 0 40px 50px;
}
#fullWidthSearchOverlay .product-title{
    text-transform: capitalize;
}

#fullWidthSearchOverlay .product-price{
font-weight:300 !important;
}
.close-overlay {
  /* position: absolute;
  top:0;
  right: 40px; */
  cursor:pointer;
}
.search-wrap {
  display:flex;
  align-items:center;
}
  
.search-bar {
  display: flex;
  align-items: center;
  padding: 0;
  max-width: 600px;
  width: 100%;
  border-bottom: 1px solid #000;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}

  .search-bar input[type=text] {
    border:none;
    margin:0;
    background-color: #fff;
    overflow: hidden;
    padding-left: 16px;
    outline: none;
    font-size: 16px;
    font-weight:400;
    height: 24px !important;
    min-height: 24px !important;
    line-height: 24px !important;
    width: 100%;
    margin: 8px 0;
  }

  input[type=text]::placeholder {
    color:#A3A3A3;
  }

.overlay-body-content {
  display: flex;
  gap: 20px;
  max-width: 1050px;
  margin: 0 auto;
 
}

.main_nav div.logo .overlay-content .product-item a {
  font-size: 14px !important;
  font-weight: 600;
  line-height: 19px !important;
  padding: 0 !important;
  margin: 10px 0;
  letter-spacing:0.3px;
}

.main_nav div.logo .overlay-content a {
  color:#000 !important;
}

.main_nav div.logo .overlay-content h4 {
  padding:0;
  margin:0;
}


.trending-searches {
  width: 30%;
}

.trending-searches h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.trending-searches ul {
  list-style: none;
  padding: 0;
}

.trending-searches ul li a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.trending-searches ul li a:hover {
  text-decoration: underline;
}

.collection-product-wrap {
  width: 75%;
}

.sidebar-menu-wrap {
  width:25%;
}

.sidebar-menu-wrap .menu-heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 1px;
  color: #000;
  margin:0 0 10px;
} 
  
.collection-product-wrap h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.12px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.collection-product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-item {
  width:calc(25% - 20px)
}

.product-item a {
  margin:0;
}

.product-item img {
  max-width: 100% !important;
  aspect-ratio: 4 / 5;
  object-fit: cover;
  display:block;
}

.product-item a.product-title {
  font-size: 16px;
  font-weight:600;
  line-height:24px;
  padding:0;
  color:#000 !important;
  margin: 10px 0;
  color: #333;
}
 
.product-item p.product-price {
  font-size: 13px;
  font-weight:400;
  color: #605e5c;
  margin:0;
}

.sidebar-menu-wrap ul {
  margin:0;
  padding:0;
} 

.sidebar-menu-wrap ul li {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

.sidebar-menu-wrap ul li a {
  font-size: 13px;
  line-height:13px;
  margin: 0;
  padding: 0;
  display: block !important;
  width: 100%;
}

#fullWidthSearchOverlay .header .main_nav_wrapper .main_nav  li {
    padding: 0 !important;
}

.product-item a {
  float:none !important;
}
 
