<style>
  .logo-img {
      margin: 0 auto;
      display: block;
      width: 100%;
      max-width: 223px;
      margin-bottom: 2em;
  }
  .notice-form-content p {
      margin-bottom: 20px;
  }
    .notice-form-content {
      max-width: 900px;
      margin: 3rem auto;
  }
  .product-image-wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 2rem auto;
      max-width: 700px;
      gap: 2rem;
  }
   .notice-form-content .logo-img {
      margin: 0 auto;
      display: block;
      width: 100%;
      max-width: 164px;
      margin-bottom: 2em;
  }
  .product-image-wrap img {
      width: 100%;
      object-fit: contain;
      aspect-ratio: 2 / 3;
  }
  .product-image-wrap h3 {
      text-align: center;
      margin-bottom: 40px;
      font-size: 14px;
  }

    @media (max-width:768px){
      .product-image-wrap h3 {
      font-size: 9px;
        margin-bottom:0 !important;
      letter-spacing: 0.4px;
  }
      .notice-form-content p {
      font-size:14px;
  }
      .notice-form-content  .logo-img {
      max-width: 164px;
  }
    }
</style>

<div class="notice-form-">
  <div class="container">
    <div class="notice-form-content">
      <img
        class="logo-img"
        src="https://lolaandtheboys.com/cdn/shop/files/lola-logo-stars-03_1c7bd026-d5ed-4657-b95e-286bb452d008_410x.png?v=1613192885"
        alt=""
      >
      <p>
        Voluntary Product Recall Notice
      </p>
      <p>
       As a family-owned company, it has always been our promise that Lola + The Boys will provide the highest-quality products and customer care to our customers.
Recently, we identified that several of our products do not meet updated safety standards. In cooperation with the U.S. Consumer Product Safety Commission (CPSC), we are conducting a voluntary recall of the following children’s products:
      </p>
      <div class="product-image-wrap">
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/set-lavender-hoodie-unicorn-tutu-set-lola-the-boys-28457373827174.jpg?v=1764878662" alt="">

          <h3>Hoodie Unicorn Tutu Set</h3>
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/jackets-emoji-love-hoodie-lola-the-boys-29421792264294.jpg?v=1764878663" alt="">
          <h3>Emoji Love Hoodie</h3>
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/CANDY_HEART.jpg?v=1764878664" alt="">
          <h3>Candy Heart Tie Dye Set</h3>
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/justice-leagues-hero-grey-hoodie-lola-the-boys-29682066817126_e375c843-25bc-4d90-9bb4-d1310df5a5a1.jpg?v=1764878663" alt="">
          <h3>Justice League Hero Grey Hoodie</h3>
        </div>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Gemini_Generated_Image_2guj602guj602guj.png?v=1764878943" alt="">
          <h3>Crystal Rainbow Rain Hoodie</h3>
        </div>
      </div>
      <p>
        Each recalled item contains a drawstring in the hood, which does not comply with federal safety requirements for children's upper-outerwear and may pose an entanglement hazard.
We deeply apologize for any inconvenience this may cause and are committed to correcting the issue promptly.
      </p>
      <p>
        <b>If You Purchased One of These Products</b>
      </p>
      <p>
        Please STOP using it immediately and follow the instructions below to receive a refund or store credit.
      </p>
      <p>
        <b>How to Receive Your Refund or Store Credit</b>
      </p>
      <p>1. Complete the recall form below.</p>
      <p>2. Remove the drawstring or cut the hood off the garment so it is no longer wearable.</p>
      <p>3. Upload a photo showing the destroyed item.</p>
      <p><b>Once your form and photo are received, we will issue:</b></p>
      <p>1. A refund for the full purchase amount, or</p>
      <p>2. A store credit voucher, depending on your selection.</p>
      <p>
        Refunds will be mailed within 2–4 weeks.
      </p>
      <p>
        Store credit vouchers will be issued within 10 days.
      </p>
      <script type="text/javascript" src="https://form.jotform.com/jsform/242836906190057"></script>
    </div>
  </div>
</div>
