<style>

.logo-img {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 223px;
    margin-bottom: 2em;
}
.notice-form-content p {
    margin-bottom: 20px;
}
  .notice-form-content {
    max-width: 900px;
    margin: 3rem auto;
}
.product-image-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem auto;
    max-width: 700px;
    gap: 2rem;
}
.product-image-wrap img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 2 / 3;
}
.product-image-wrap h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 14px;
}
</style>

<div class="notice-form-">
        <div class="container">
            <div class="notice-form-content">
                <img class="logo-img" src="https://lolaandtheboys.com/cdn/shop/files/lola-logo-stars-03_1c7bd026-d5ed-4657-b95e-286bb452d008_410x.png?v=1613192885" alt="">
                <p>As a family-owned company it has always been our promise that Lola + The Boys will
                provide the highest quality products and customer care to its customers.</p>
                <p>Recently, we have found that two styles of one of our products does not meet our standards and are conducting a voluntary recall in cooperation with the US Consumer Product Safety Commission. The recalled products are:</p>
                <div class="product-image-wrap">
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/final-1.png?v=1728601545" alt="">
                        <h3>Children's Two Piece "Lola Feather" Lounge Set</h3>
                    </div>
                    <div>
                        <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/final-2.png?v=1728601564" alt="">
                        <h3>Children's Two Piece "Unicorn Magic" Lounge Set</h3>
                    </div>
                </div>
                <p>These products failed to meet flammability requirements for children's sleepwear under
                16 C.F.R. Parts 1615 and 1616, posing a burn hazard to children.</p>
                <p>We apologize for any inconvenience this may have caused and are devoted to correcting
                this issue by offering a remedy for the affected products.</p>
                <p>If you purchased one of these Lounge Sets, please STOP using it immediately and follow
                the instructions below to receive a refund or store credit for the affected products.</p>
                <p><b>IN ORDER TO RECEIVE A REFUND OR STORE CREDIT,</b> you must fill out the attached form and destroy the product. To destroy the product, cut the top and bottom of the lounge set into several pieces so that the item is no longer in wearable condition. Upload a picture of the destroyed lounge sets to the form (See Attached). Once the form with destruction photo(s) are received, you will be issued a refund or a credit in the amount of 00, which will be sent in two (2) to four (4) weeks.</p>
                <p>We want to assure you that the safety of your children is and always will be a top priority
                for Lola + The Boys. Thank you.</p>
                  <script type="text/javascript" src="https://form.jotform.com/jsform/242836906190057"></script>
            </div>

          
        </div>

    </div>