<style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');
    .customization_appointement_wrapper{
        width:100%;
        max-width: 1300px;
        margin: 0 auto;
    }
   .customization_appointment_main_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   } 
   .customization_appointment_main_image_text e {
    font-style: italic; /* Apply italic style to <e> element */
    }

   .customization_appointment_main_image{
    height: 100%;
    width: 100%;
    position: relative;
   }
   .customization_appointment_text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 35px;
    width: 50%;
    margin: 50px auto;
   }
   .customization_appointment_features_section{
    display: flex;
    height: 800px;
    gap: 20px;
   }
   .customization_appointment_feature_image{
    height: 100%;
    width: 50%;
   }
   .customization_appointment_feature_image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
   }
   .customization_appointment_features_text_image_section{
    width: 50%;
    height: 100%;
    position:relative;
   }
   .customization_appointment_features_text{
    height: 40%;
   }
   .customization_appointment_features_image{
    height: 60%;
   }
   .customization_appointment_features_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
   }
   .customization_appointment_features_text h4{
    font-size: 25px;
    margin: 0;
   }
   .customization_appointment_features_text ul {
    font-size: 25px;
     margin: 10px 0px;
   }
   .customization_appointment_features_text ul li {
    margin-bottom: 15px;
    list-style: disc;
    line-height: 30px;
   }
   .customization_appointment_1_on_1_event_wrap{
    width: 60%;
    display: flex;
    justify-content: center;
    background: #fd85c0;
    color: white;
    font-size: 25px;
    padding: 20px;
    margin: 20px auto;
    text-transform: uppercase;
    margin-bottom: 50px;
   }
   .customization_appointment_1_on_1_event_image{
    height: 600px;
    width: 100%;
    position: relative;
   }
   .customization_appointment_1_on_1_event_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   }
   .customization_appointment_main_image_text{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: fit-content;
    position: absolute;
    font-family: "Noto Serif Display", serif;
    gap: 0.7em;
    top: 50%;
    left: 4%;
    font-size: 9em;
    color: black;
    text-shadow: rgb(255, 255, 255) 1.01596px 2.01596px 0px;
   }
   .customization_appointment_patch_image_1{
    position: absolute;
    height: 100px;
    width: 100px;
    object-fit: contain;
    bottom: -40px;
    left: 35px;
    transform: rotate(20deg);
   }
   .customization_appointment_patch_image_2{
    position: absolute;
    top: -42px;
    left: 35px;
    transform: rotate(6deg);
   }
   .customization_appointment_patch_image_2 img{
    height: 100px;
    object-fit: contain;
    width: 100px;
   }
  .customization_appointment_patch_image_3{
    position: absolute;
    height: 100px;
    width: 100px;
    object-fit: contain;
    right: -15px;
    bottom: -21px;
    transform: rotate(20deg);
  }
  .customization_appointment_patch_image_3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
   @media (max-width: 767px){

     .customization_appointment_main_image_text{
           gap: 10px;
     }
       .calendly-inline-appointment-widget {
    padding-top: 25px;
  }
    .customization_appointment_main_image_text{
        font-size: 3em;
        left: 4px;
        gap: 0.4em;
        top: 35%;
    }
    .customization_appointment_text{
        font-size: 22px;
        margin: 55px auto;
        padding: 0 15px;
        width: 100%;
    }
    .customization_appointment_features_section{
        flex-direction: column;
        height: auto;
    }
    .customization_appointment_feature_image{
        width: 100%;  
    }
    .customization_appointment_features_text_image_section{
        width: 100%;  
    }
    .customization_appointment_1_on_1_event_wrap{
        width: 85%;
        font-size: 22px;
        margin: 50px auto;
    }
     .customization_appointment_features_text h4{
           margin: 0 10px;
     }
     .customization_appointment_features_text{
           margin-bottom: 40px;
     }
     .customization_appointment_patch_image_3 {
           right: 14px;
           bottom: -8px;
           height: 50px;
           width: 50px;
     }
     .customization_appointment_patch_image_1 {
           height: 50px;
           width: 50px;
           bottom: -12px;
           left: 27px;
     }
     .customization_appointment_patch_image_2 img{
           height: 50px;
           width: 50px;
     }
    .customization_appointment_patch_image_2{
           top: -26px;
           left: 18px;
    }
   }
  /* For devices with a screen width between 768px and 1280px */
@media (min-width: 768px) and (max-width: 1280px) {
  .customization_appointment_text{
       width: 70%; 
  }
 .customization_appointment_main_image_text{
   left: 2%;
   font-size: 7em;
 }
   .customization_appointment_patch_image_3 {
           right: 14px;
     }
}

</style>

<div class="appintment-header">
  <h1>UNICORN WORLD AT WATER TOWER</h1>
  <p>Watertower Mall - 2nd Floor 835 Michigan Ave Chicago, IL 60611</p>
</div>
  <div class="customization_appointement_wrapper">
     <div class="customization_appointment_main_image">
        <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/SpringEaster25_L_TB_03112025_18840.jpg?v=1743535438" alt="">
        <div class="customization_appointment_main_image_text">
            <span>Book</span>
            <span>1 <e>on</e> 1</span>
        </div>
        <div class="customization_appointment_patch_image_1">
            <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Rainbow_star.png?v=1739539483&width=100" alt="">
        </div>
        
     </div>
     <div class="customization_appointment_text">
        <span>Book ONE on ONE 30 minute session for you and your little one, and enjoy customizing jackets, hoodies or t-shirts.</span>
     </div>
     <div class="customization_appointment_features_section">
        <div class="customization_appointment_feature_image">
            <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/099A0156.jpg?v=1743537944" alt="">
        </div>
        <div class="customization_appointment_features_text_image_section">
            <div class="customization_appointment_features_text">
                <h4>What to expect:</h4>
                <ul>
                    <li>1-on-1 creation of a customized product with patches</li>
                    <li>Optional name or word embroidery</li>
                    <li>Exclusive access to our customization station</li>
                </ul>
            </div>
            <div class="customization_appointment_features_image">
                <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/099A0160-min_1_1.jpg?v=1743537981" alt="">
            </div>
            <div class="customization_appointment_patch_image_3"><img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/Roller_Skates.webp?v=1739537079&width=100" alt=""></div>
        </div>
     </div>
    <div class="calendly-inline-widget calendly-inline-appointment-widget" data-url="https://calendly.com/events-lolaandtheboys/30min" style="min-width:320px;height:700px;"></div>
     <div class="customization_appointment_1_on_1event_section">
        <div class="customization_appointment_1_on_1_event_wrap">
            BOOK your 1 on 1 event
        </div>
        <div class="customization_appointment_1_on_1_event_image">
            <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/0B8A2286.jpg?v=1743535408" alt="">
            <div class="customization_appointment_patch_image_2">
                <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/files/YAY.png?v=1739541029&width=100" alt="">
            </div>
        </div>
       
     </div>
   </div> 
<!-- Calendly inline widget begin -->

<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->